<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coin Game</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/game.css')}}">
</head>
<body>

    <main>
        
        <section class="info card">
            <div class="p-name"></div>
            <div class="p-balance"></div>
        </section>

        {% block content %}{% endblock %}
        
        {% block js %}{% endblock %}
    </main>
    
</body>
</html>